body {
  margin: 0;
  overflow: hidden;
}
iframe {
  border: 0;
  width: 100vw;
  height: 100vh;
}
#out-of-session {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#log {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: white;
}
